body{
    margin: 0;
    padding: 0;
}
#hero{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),    url("../agecheck.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
#box{
    width: 250px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
}
#submit{
    text-align: center; margin-top: 10px;
}
#input{
    height: 35px; max-width: 25%;
    margin: 0 5px;
}
/* #age-form{
    width: 500px;
    
} */