@font-face {
    font-family: 'Retro';
    src: url('/assets/font/retro_computer_personal_use.ttf'); /*URL to font*/
}
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Retro; text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}
#hero {
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background:rgba(0, 0, 0, 0.75);
}
#bgvideo {
    position: absolute;
    top: 60%;
    left: 50%;    
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: contain;
}
#box{
    z-index: 100;
    width: 2500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
#submit-button{
    font-family: Retro;
    text-align: center;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
    padding: 10px 0px;
    text-align: center;
    display: inline;
    width: 240px;
    font-size: 14px;
    margin: 30px auto 30px;
    cursor: pointer;
}
#input {
    font-family: Retro; color: white;
    height: 50px;
    max-width: 100px;
    margin: 0px 2px;
    cursor: text;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
    border-width: 0px;
    transition-duration: .3s;
}