* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow:1;
    /* padding: 20px 50px; */
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0.85);
  
}

#nav-title {
    /* margin-right: auto; */
    font-size: 1.5em;
    margin-right: auto;
}

nav ul{
    background-color: white;
    /* margin: 0;
    padding: 0;
    list-style-type: none; */
}

nav li {
    list-style: none;
    /* display: inline-block; */
    padding: 0 20px;
    height: 4.5em;
    line-height: 50px;
    background-color: red;
    margin-right: -4px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
    font-size: large;
}

nav li:hover {
    background-color: rgb(227, 54, 54);
}

#icon{
    width: 40px;
    height: 50px;
    color: black;
    margin-right: 10px;
}

#nav-sub{
    font-size: 12px;
}


div.inline{
    display:inline-flex;
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: space-around;
    padding: 1%;
    margin-left: 4px;
}

div.inline h1{
    color: white;
    margin-left: 10px;
    font-size: 20px;
    /* padding: 0px; */
    /* margin-bottom: 0; */
    /* vertical-align: top; */
}

div.inline p{
    color: white;
    margin-left: 2px;
    margin-top: 6px;
}


nav{
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.single-nav-item{
    display: none;
}

/* .single-link{

} */
/* responsivness */

/* /* 1078 * -> hamburger/ */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 821px) {
    nav li {
        /* background-color: yellow; */
        padding: 0 50px;
    }

    nav ul{
        display: none;
    }

    .single-nav-item{
        display: block;
    }

  }

@media only screen and (min-width: 821px) {
    /* nav li {
        background-color: aqua;
    } */

    #nav-title{
        width: 30%;
    }
  }
  