* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow:1;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0.85);
  
}

#nav-title {
    font-size: 1.5em;
    margin-right: auto;
}

nav ul{
    background-color: white;
}

nav li {
    list-style: none;
    padding: 0 20px;
    height: 4.5em;
    line-height: 50px;
    background-color: red;
    margin-right: -4px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
    font-size: large;
    transition: transform 0.2s;
}

nav li:hover {
    background-color: rgb(227, 54, 54);
}

nav li:hover a{
    transform: scale(1.1)
}
nav li:hover img{
    transform: scale(1.05)
}

#icon{
    width: 40px;
    height: 50px;
    color: black;
    margin-right: 10px;
    transition: transform 0.2s;
}

#nav-sub{
    font-size: 12px;
}


div.inline{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    /* padding: 1%; */
    margin-left: 4px;
}

div.inline h1{
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

div.inline p{
    color: white;
    margin-left: 2px;
    margin-top: 6px;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.single-nav-item{
    display: none;
}

@media only screen and (max-width: 821px) {
    nav li {
        padding: 0 50px;
    }

    nav ul{
        display: none;
    }

    .single-nav-item{
        display: block;
    }

  }

@media only screen and (min-width: 821px) {
    #nav-title{
        width: 30%;
    }
  }

@media only screen and (max-width: 360px) {
    div.inline{
        padding-left: 2%;
    }

  }

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-left: 2%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 70px;
  right: 20px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  } 
}