.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-snap-stop: always;
}

.scroller section {
  scroll-snap-align: start;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap/Basic_concepts */
/* https://stackoverflow.com/questions/53416348/css-scroll-snapping-vertical-not-working */
