body, header, nav, main, footer{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}


body{
    position: relative;
}
video#bgvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%; 
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    }

    /* video#bgvideo2 {
        position: absolute;
        top: 150%;
        left: 50%;
        min-width: 100%;
        min-height: 100%; 
        width: auto;
        height: auto;
        z-index: -200;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        /* background: url(https://cdn.cloudflare.steamstatic.com/steam/apps/219150/capsule_616x353.jpg?t=1654232443) no-repeat; */
        /* background-size: cover; */
        /* } */
     
/* 

.video-title{
    color:white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#hero {
    height:100vh;
    width:100%;
    /* background:red; */
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#hero-image{
    height:100vh;
    width:100%;
    display:flex;
    align-items: flex-start;
    /* justify-content: center; */
    justify-content: start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://thumbs.gfycat.com/AcclaimedDistantCapeghostfrog-max-1mb.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}


/* .box{
    color: black;
    padding: 3%;
    width: 100%;
    background-color: white;
    opacity: 90%;
} */

#left{
    align-items:left;
    justify-content: left;
}

#logo{
    width: 50%;
}


img.sticky {
    /* position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
    z-index: 1000;
    padding: 25px;
    width: 100px;
    height: 100px;
    background-color: green;
    float: right;
    overflow: hidden; */
    position: fixed;
    width: 200px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    z-index: 2;
  }

.talk-box{
    opacity: 95%;
    background-color: rgb(59, 56, 56);
    color: white;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 10%;
    bottom: 13%;
    right: 15%;
    padding: 1%;
}

.container{
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    justify-content: center;
}

/* #hero::after  {
width:100%;
height:100%;
content: '';
position:absolute;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5)
} */

/* 
ul{
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
} */

#hero-footer{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    background-color: black;
}

svg{
    fill:white;
    width: 300px;
    height: 300px;
}

svg:hover {
    fill: red;
  }  