body, header, nav, main, footer{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* body{
    position: relative;
} */

video#bgvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%; 
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    }

#hero {
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#hero-image, #hero-image-2,#hero-image-3, #hero-footer, #hero-music{
    height:100vh;
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

#hero-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),    url("https://cdn.vox-cdn.com/thumbor/lsvKWScLlH-e2SwsURTrCq77Qvc=/0x0:1440x768/1200x800/filters:focal(605x269:835x499)/cdn.vox-cdn.com/uploads/chorus_image/image/61159511/hlm2_screen_5.0.1488285215.0.png");
}

#hero-image-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),    url("https://media.moddb.com/images/mods/1/38/37508/SUBWAY.jpg");
}

#hero-image-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),    url("https://3dnews.ru/assets/external/illustrations/2019/08/20/992757/HotlineMiamiCollection_1.jpg");
}


.box, .box-right{
    margin-top: 200px;
    margin-left: 30px;
    color: white;
    padding: 30px 15px;
    width: 400px;
    line-height: 28px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.55);
    position: relative;

}

.box-title-right, .box-title{
    font-size: 3.5rem;
    line-height: 3.5rem;
    position: absolute;
}

.box-title-right{
    top: -20px;
    left: -170px;
    white-space: nowrap;
}

.box-right{
    margin-left: auto; 
    margin-right: 30px;    
}

.box-title{
    top: -20px;
    white-space: nowrap;
}

.box-content{
    padding-top: 20px;
}

#left{
    align-items:left;
    justify-content: left;
}

#logo{
    width: 50%;
}


img.sticky {
    position: fixed;
    width: 200px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    z-index: 2;
  }

.talk-box{
    opacity: 95%;
    background-color: rgb(59, 56, 56);
    color: white;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 150px;
    bottom: 100px;
    right: 230px;
    padding: 1%;
    display: none;
}

/* .container{
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    justify-content: center;
} */

#hero-music{
    /* flex-direction: row; */
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

#hero-music img{
    max-width: 100%;
    width: 500px;
    mix-blend-mode: difference;

}

#hero-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: black;
}

svg{
    fill:white;
    width: 300px;
    height: 300px;
}

svg:hover {
    fill: red;
  }  

/* https://alvarotrigo.com/blog/css-animations-scroll/ */

.reveal.right{
position: relative;
transform: translateX(-100px);
opacity: 0;
transition: 1s all ease;
}

.reveal.left{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
transform: translateX(0);
opacity: 1;
}

/* media query section */
@media only screen and (max-width: 798px) {
    .box-title, .box-title-right {
        font-size: 3rem;
    }

    .box-title-right {
        left: -100px;
    }
    .box-content{
        padding-top: 10px;
    }

  }
  @media only screen and (max-width: 691px) {
    .box-title, .box-title-right {
        font-size: 2rem;
    }

    .box-title-right {
        left: 10px;
    }

    img.sticky{
        width: 150px;
    }

    .talk-box{
        right: 180px;
        bottom: 80px;
    }


    .box-content{
        padding-top: 2px;
    }

  }

@media only screen and (max-width: 500px) {
    .box-title, .box-title-right {
        font-size: 1.5rem;
    }

    .box{
        margin-left: 0px;
    }

  }
